@import url('https://fonts.googleapis.com/css2?family-Chakra+Petch:w ght@400:700&display=swap'); 
:root{
    --cor_de_fundo: #1E1E1E;
    --VERDE: #6FFF57;
    --branco: #ffffff;
    --BOTAO-ATIVO: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58 , 55, 94, 0.3);
}

body{
    background-color: var(--cor_de_fundo);
    color: var(--branco);
    font-family: 'Chakra Petch',sans-serif;

}


.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{
    color: var(--verde);

}

.botao{
    font-family: "chakra petch", sans-serif;
    background-color: var(--botao-inativo);
    color: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center; 
    width: 100%;
    border-bottom: 4px solid var(--botao-alivo);
    border-left: 4px solid var(--botao-ativo);
    border-right: 4px solid var(--botao-ativo);
    border-top: none;


}
